:root {
  --primary-color: #2AC17E;
  --primary-color-dark: #109458;
  --white: #FFFFFF;
}
body, html, #root {
  height: 100%;
}
.color-primary {
  color: var(--primary-color);
}


.card-padding-large {
  padding-left: 4rem;
  padding-right: 4rem;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
}